.is-hcentered{
    justify-content: center !important;
}

.sale-container{
    position: absolute;
    top: 8%;
    right: 8%;
}

#sale-percentage{
    border-radius: 4px;
    background-color: #ffdd57;
    padding: 1rem; 
}

.star{
    width: auto;
    height: 30px;
}

.star-container{
    display: inline-flex;
    justify-content: space-between;
}

.is-inactive{
    opacity: 0.35;
}